{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Excluir {{produto}}</h4>
            </div> <!-- /.modal-header -->
            <div class="modal-body">
                Deseja relmente excluir este produto?
            </div> <!-- /.modal-body -->
            <div class="modal-footer">
                <a href="{% url 'produtos:deletar_produto' pk=produto.pk %}" type="button" class="btn btn-primary">
                    Sim
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Não
                </button>
            </div> <!-- /.modal-footer -->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->


    <h3 class="page-header">{{produto}}</h3>
    <form method="POST">
        {% csrf_token %}

        <div class="row">
            {% for item in forms %}
                <div class="form-group col-md-6">
                    {{ item.errors }}
                    {{ item.label_tag }}
                    {{ item }}
                </div>
            {% endfor %}
        </div>

        {{ formset.management_form }}


        <hr />

        <div id="actions" class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-modal">
                    Excluir
                </a>
                <a href="{% url 'produtos:lista_produtos' %}" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </form>


{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    var maxLength = '0.000.000,00'.length;
      $("#id_main-preco").maskMoney({
        allowNegative: false,
        prefix:'R$ ',
        thousands:'.',
        decimal:',',
        affixesStay: false
      }).attr('maxlength', maxLength).trigger('mask.maskMoney');
  });


</script>
{% endblock %}
