{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
    aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel">Excluir {{cliente}}</h4>
                </div> <!-- /.modal-header -->
                <div class="modal-body">
                    Deseja relmente excluir esta reserva de produto?
                </div> <!-- /.modal-body -->
                <div class="modal-footer">
                    <a href="{% url 'produtos:deletar_reserva' pk=reserva.pk %}" type="button" class="btn btn-primary">
                        Sim
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Não
                    </button>
                </div> <!-- /.modal-footer -->
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

    <h3 class="page-header">{{reserva.cliente}}</h3>
    <div class="row">
        <div class="col-md-3">
            <p><strong>Data:</strong></p>
            <p>{{reserva.data}}</p>
        </div>
        <div class="col-md-3">
            <p><strong>Status:</strong></p>
            <p>{{reserva.get_status_display}}</p>
        </div>
    </div><!-- .row -->
    <h3 class="page-header">{{reserva.produto}}</h3>
    <div class="row">
        <div class="col-md-3">
            <p><strong>Quantidade:</strong></p>
            <p>{{reserva.qtd}}</p>
        </div>
        <div class="col-md-3">
            <p><strong>Desconto:</strong></p>
            <p>{{reserva.desconto}}</p>
        </div>

    </div><!-- .row -->
    <h3 class="page-header">Total: {{reserva.total}}</h3>

    <hr />
    <div id="actions" class="row">
        <div class="col-md-12">
            <a href="{% url 'produtos:lista_reservas' %}" class="btn btn-default">Voltar</a>
            <a href="{% url 'produtos:deletar_reserva' pk=reserva.pk %}" class="btn btn-primary">
                Editar
            </a>
            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-modal">
                Excluir
            </a>


        </div>
    </div>

{% endblock %}
