{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
    <h3 class="page-header">Novo Cliente</h3>
    <form method="POST">
        {% csrf_token %}

        <div class="row">
            {% for item in forms %}
                <div class="form-group col-md-6">
                    {{ item.errors }}
                    {{ item.label_tag }}
                    {{ item }}
                </div>
            {% endfor %}
        </div>

        {{ formset.management_form }}

        <legend class="lead">Contatos</legend>
        <div class="row">
            <div id="contato" class="form-inline form-group">
              {% for item in formset %}
                <div id="contato-{{ forloop.counter0 }}" class="col-md-6">
                    {% for elemento in item %}
                        {{elemento}}
                        {% for error in elemento.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    {% endfor %}
                </div>
              {% endfor %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top: 50px">
                <a class="btn btn-info" id="add-contato">
                  <i class="fa fa-plus"></i>
                   Add Contato
                </a>
            </div>
        </div>
        <hr />
        <div id="actions" class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'clientes:lista_clientes' %}" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </form>

    <script type="text/html" id="contato-novo">
        <div id="contato-__prefix__" class="col-md-6" style="margin-top: 10px">
            {% for item in formset.empty_form %}
                {{item}}
            {% endfor %}

        </div>


    </script>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
         $("#add-contato").click(function(ev) {
             ev.preventDefault();
             var count = $('#contato').children().length;
             var tmplMarkup = $("#contato-novo").html();
             var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
             $("div#contato").append(compiledTmpl);

             // update form count
             $('#id_product-TOTAL_FORMS').attr('value', count + 1);

             // some animate to scroll to view our new form
             $('html, body').animate({
                 scrollTop: $("#add-contato").position().top-200
             }, 800);
         });
     });

     $(document).ready(function(){
        $("#id_product-0-contato").mask("(99) 9 9999-9999");
        var count = $('#contato').children().length;
     });
</script>
{% endblock %}
