{% extends 'cliente/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-header text-center lead">Novo Cliente</h1>
  </div>
</div>
<div class="row">
  <a href=" {% url 'clientes:lista_clientes' %}">Lista Clientes</a>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form method="POST" class="post-form">
      {% csrf_token %}
      {{ forms|crispy }}
      {{ formset.management_form }}

      <legend class="lead">Contatos</legend>

      <div id="contato" class="form-inline form-group">
        {% for item in formset %}

          <div id="contato-{{ forloop.counter0 }}">
            {{ item|crispy}}
          </div>
        {% endfor %}
    </div>

    <a class="btn btn-info" id="add-contato">
      <i class="fa fa-plus"></i>
       Add Contato
    </a>

    <div class="form-inline buttons">
      <a href="" class="btn btn-warning pull-right">
        <i class="fa fa-times"></i>
         Cancelar
      </a>
      <button type="submit" class="btn btn-primary pull-right" value="Save">
        <i class="fa fa-floppy-o"></i>
         Salvar
      </button>

    </div>
  </form>
</div>
</div>

<script type="text/html" id="contato-novo">
    <div id="contato-__prefix__" style="margin-top: 10px">
            {{ formset.empty_form|crispy }}
    </div>
</script>

{% endblock content %}
