{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<h3 class="page-header">{{apartamento}}</h3>
<div class="row">
  <div class="col-md-6">
      <h4 class="page-header">Status: </h4>
      <p><strong>{{ apartamento.get_status_display }}</strong></p>
  </div> <!-- /.div col-md-6-->
  <div class="col-md-6">
    <h4 class="page-header">Leitos </h4>
    <p><strong>Cama de Casal : </strong>{{apartamento.cama_casal}}</p>
    <p><strong>Cama de Solteiro : </strong>{{apartamento.cama_solteiro}}</p>
    <p><strong>PAX total :</strong> {{pax}}</p>
  </div> <!-- /.div col-md-6-->
</div> <!-- /.div row -->
<hr />
<div class="row">
  <div class="col-md-10 col-md-offset-1">
        <h4 class="page-header">Descrição</h4>
        <p>{{apartamento.descricao}}</p>
  </div> <!-- /.div col-md-6-->
</div> <!-- /.div row -->
<hr />
<div id="actions" class="row">
    <div class="col-md-12">
        <a href="{% url 'hotel:reservas' %}" class="btn btn-default">Voltar</a>
        <a href="{% url 'hotel:editar_apartamento' pk=apartamento.pk %}" class="btn btn-primary">
            Editar
        </a>
    </div>
</div>


{% endblock %}

{% block script %}

{% endblock %}
