{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<h3 class="page-header">{{apartamento}}</h3>
<form method="POST">
  {% csrf_token %}
  <div class="row">

    {% for item in forms %}
      <div class="form-table form-group col-md-8 col-md-offset-2">
        {{ item.errors }}
        {{ item.label_tag }}
        {{ item }}
      </div> <!-- /.div form-group col-md-6 -->
    {% endfor %}

  </div> <!-- /.div row -->
  <hr />
  <div id="actions" class="row">
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'hotel:apartamento' pk=apartamento.pk %}" class="btn btn-default">Cancelar</a>
      </div> <!-- /.div col-md-12 -->
  </div> <!-- /.div row -->
</form>



{% endblock %}

{% block script %}

{% endblock %}
