{% extends 'hotel/base.html' %}
{% load staticfiles %}

{% block title %}
  <title>Pousada Paraíso - Hotel</title>
{% endblock %}

{% block content %}
<div class="row">
  Menu
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-header text-center">
      Reservas
    </h1>
  </div>
  <div class="col-md-3">
    <form method="POST" class="post-form">
      {% csrf_token %}
      <div class="form-inline form-group">
        <input id="data" name="data" type="text" maxlength="10" value="{{dia}}"></input>
        <button type="submit" class="btn btn-primary pull-right" value="Save">
          Filtrar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {% for quarto in quartos %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="reserva/{{quarto.reserva.pk}}">
            <h3 class="panel-title">
              {{quarto.quarto}}
              <span class="glyphicon glyphicon-pencil pull-right"></span>
            </h3>
          </a>

        </div>
        <div class="panel-body">
          <p>Cliente: {{quarto.reserva.cliente}}</p>
          <p>Status : {{quarto.reserva.get_status_display}}</p>
          <p>Entrada: {{quarto.entrada}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
