table {
  table-layout: fixed;
  text-align: center;
  border-bottom: solid 2px #fff;
}
td{
  width: "(100/14)%";
  text-align: center;
  border-bottom: solid 2px #fff;
}
th {
text-align: center;
border-bottom: solid 2px #fff;
}
thead {
  border-bottom: solid 2px #fff;
}


.dia {
  border: solid 2px #fff;
  background-color:#f5f5f5;
}

.confirmada { /* Reserva confirmada */
  border: solid 2px #fff;
  background:#dff0d8;
  color:#333;
}

.ocupado  { /* Apartamento ocupado */
  border: solid 2px #fff;
  background:#d9edf7; /*#f5f5f5;*/
  color:#333;
}

.esperando  { /* Esperando deposito de confirmação*/
  border: solid 2px #fff;
  background:#fcf8e3;
  color:#333;
}

.deadline { /* Deadline vencido*/
    border: solid 2px #fff;
    background-color: #f2dede;
    color:#333;
}

.cancelada { /* Reserva vencida (sem realização do deposito de confirmação)*/
  border: solid 2px #fff;
  background-color: #ff9999;
  color:#333;
}

.finalizada { /* Reserva já finalizada e com check out marcado */
  border: solid 2px #fff;
  background-color: #a3e77c;
  color:#333;

}
